In [166]:
import pandas as pd
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [167]:
school_data_complete.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [168]:
school_data_index_budget = school_data_complete[["budget"]]
school_data_index_budget_sum = school_data_index_budget.sum()
school_data_index_budget_sum

budget    82932329558
dtype: int64

In [169]:
school_name_sort = school_data_complete.groupby(['school_name'])
average_school_name_budget = school_name_sort.mean()["budget"]
average_school_name_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [170]:
school_name_count = school_name_sort["school_name"].count()
school_name_count

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: school_name, dtype: int64

In [171]:
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [172]:
sum_school_name_sort = school_name_sort.sum()
sum_school_name_sort

,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,
Bailey High School,101303896,403225,383393,34832,24760576,15549641728
Cabrera High School,31477307,156027,154329,11148,3452164,2009159448
Figueroa High School,12949059,239335,226223,2949,8696601,5557128039
Ford High School,99055935,221164,211184,35607,7502121,4831365924
Griffin High School,19077394,123043,122360,5872,2155024,1346890000
Hernandez High School,46090440,375131,358238,13905,21483225,14007062700
Holden High School,9846620,35789,35784,3416,182329,105933149
Huang High School,4252986,236810,223528,0,8508889,5573322295
Johnson High School,154327815,385481,366942,57132,22667121,14733628650
Pena High School,22851829,80851,80654,8658,925444,563595396
Rodriguez High School,112111965,322898,307294,43989,15992001,10186904637
Shelton High School,11879706,147441,146796,3522,3101121,1860672600
Thomas High School,62705520,137093,136389,22890,2673225,1705517550
Wilson High School,33950493,191748,190115,11415,5212089,3012587442
Wright High School,45243900,151119,150628,18000,3240000,1888920000

In [173]:
school_name_count = school_name_sort["school_name"].count()
school_name_count

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: school_name, dtype: int64

In [174]:
school_name_count = school_name_sort["school_name"].count()
#school_name_sort
total_school = school_name_count.count()
total_school

15

In [175]:
Total_students =  school_name_count.sum()
#school_name_count
Total_students

39170

In [176]:
total_budget = school_data["budget"].sum()
total_budget

24649428

In [177]:
pass_math = (school_data_complete.loc[student_data["math_score"]>=70])
pass_math_students = pass_math["student_name"].count()
percent_pass_math = (pass_math_students/Total_students)*100
percent_pass_math

74.9808526933878

In [178]:
pass_reading = (school_data_complete.loc[student_data["reading_score"]>=70])
pass_reading_students = pass_reading["student_name"].count()
percent_pass_reading = (pass_reading_students/Total_students)*100
percent_pass_reading

85.80546336482001

In [179]:
overall_passing_rate = (percent_pass_reading + percent_pass_math)/2
overall_passing_rate

80.39315802910392

In [180]:
school_type = school_data.set_index(["school_name"])["type"]
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [181]:
school_data_index_reading_math = school_data_complete[["reading_score", 'math_score']]
avg_school_data_index = school_data_index_reading_math.mean()
#avg_school_data_index
avg_reading = avg_school_data_index.loc["reading_score"]
avg_math = avg_school_data_index.loc["math_score"]
avg_reading

81.87784018381414

In [182]:
school_data_index_budget = school_data_complete[["budget"]]
school_data_index_budget_sum = school_data_index_budget.sum()
school_data_index_budget_sum

budget    82932329558
dtype: int64

In [183]:
school_name_count

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: school_name, dtype: int64

In [184]:
sum_total = sum_school_name_sort.sum()
sum_total

Student ID         767124865
reading_score        3207155
math_score           3093857
School ID             273335
size               130551930
budget           82932329558
dtype: int64

In [185]:
budget_count = school_name_sort["budget"].sum()
budget_count_sum = budget_count.sum()
#budget_count_sum
pass_math = school_data_complete.loc[student_data["math_score"]

SyntaxError: unexpected EOF while parsing (<ipython-input-185-e73fb03f843d>, line 5)

In [186]:
school_name_sort = school_data_complete.groupby(['school_name'])
average_school_name_sort = school_name_sort.mean()["budget"]
average_school_name_sort

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [187]:
district_summary = pd.DataFrame({"Total Schools":[total_school], 
                                 "Total Students": [Total_students], 
                                 "Total Budget":[total_budget],
                                 "Average Math Score": [avg_math],
                                 "Average Reading Score": [avg_reading],    
                                 "Passing Math ": [percent_pass_math], 
                                 "Passing Reading ":  [percent_pass_reading],
                                "Overall Pssing Rate": [overall_passing_rate]})
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Pssing Rate
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.393158

In [188]:
sum_school_name_sort = school_name_sort.sum()

In [189]:
school_name_count = school_name_sort["school_name"].count()

In [190]:
total_budget_per_school = school_data_complete.groupby(["school_name"]).mean()["budget"]
total_budget_per_school

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [191]:
avg_math_score = school_data_complete.groupby(["school_name"]).mean()["math_score"]
avg_reading_score = school_data_complete.groupby(["school_name"]).mean()["reading_score"]

In [192]:
per_school_capita_budget = total_budget_per_school/school_name_count
per_school_capita_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [193]:
school_passing_math = school_data_complete[(school_data_complete["math_score"]>=70)]

In [194]:
school_passing_reading = school_data_complete[(school_data_complete["reading_score"]>=70)]

In [195]:
average_math_score =(school_passing_math.groupby(["school_name"]).count()["student_name"])/school_name_count*100
average_math_score

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [196]:
average_reading_score =(school_passing_reading.groupby(["school_name"]).count()["student_name"])/school_name_count*100
average_reading_score

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [337]:
Overall_passing_rate = (average_reading_score + average_math_score)/2
per_school_summary = pd.DataFrame({"School Type":school_type,
                                   "Total Students":school_name_count,
                                   "Total School Budget":average_school_name_budget,
                                   "Per Student Budget":per_school_capita_budget,
                                   "Average Math Score": avg_math_score,
                                   "Average reading Score": avg_reading_score,
                                   "% Passing Math":average_math_score,
                                   "% Passing Reading":average_reading_score, 
                                   "% Overall Passing Rate":Overall_passing_rate,})
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary.head(5)

#pd.DataFrame(data=sf.index, columns=['email'])

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Bailey High School,District,4976,"$3,124,928.00",628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,93.392371,97.138965,95.265668

In [198]:
top_school = per_school_summary.sort_values(["% Overall Passing Rate"], ascending=False)
bottom_school = per_school_summary.sort_values(["% Overall Passing Rate"], ascending=True)
bottom_school.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,68.309602,79.299014,73.804308

In [199]:
top_school.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,93.867718,96.539641,95.203679

In [200]:
nine_grade_data = school_data_complete[(school_data_complete["grade"] == "9th")].set_index(["school_name"])
nine_grade_data_group = nine_grade_data.groupby(["school_name"]).mean()

ten_grade_data = school_data_complete[(school_data_complete["grade"] == "10th")].set_index(["school_name"])
ten_grade_data_group = nine_grade_data.groupby(["school_name"]).mean()

eleven_grade_data = school_data_complete[(school_data_complete["grade"] == "11th")].set_index(["school_name"])
eleven_grade_data_group = eleven_grade_data.groupby(["school_name"]).mean()

twelve_grade_data = school_data_complete[(school_data_complete["grade"] == "12th")].set_index(["school_name"])
twelve_grade_data_group = twelve_grade_data.groupby(["school_name"]).mean()

In [305]:
nine_grade_data_group_math = nine_grade_data_group[["math_score"]]
nine_grade_data_group_reading = nine_grade_data_group[["reading_score"]]

ten_grade_data_group_math = ten_grade_data_group[["math_score"]]
ten_grade_data_group_reading = ten_grade_data_group[["reading_score"]]

eleven_grade_data_group_math = eleven_grade_data_group[["math_score"]]
eleven_grade_data_group_reading = eleven_grade_data_group[["reading_score"]]

twelve_grade_data_group_math = twelve_grade_data_group[["math_score"]]
twelve_grade_data_group_reading = twelve_grade_data_group[["reading_score"]]
#complete = pd.merge(nine_grade_data_group_math, ten_grade_data_group_math,  on=["school_name"], suffixes=("_9th", "_10th"))

In [312]:
#math_scores_by_grade = pd.Series(nine_grade_data_group_math) 
#s.index.name = 'grade'
#df = pd.DataFrame(math_scores_by_grade)
#df

In [323]:
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [335]:
per_school_summary["test"] = pd.cut(per_school_summary["School Type"], spending_bins, labels=group_names)
per_school_summary

TypeError: '<' not supported between instances of 'int' and 'str'